/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    background-color: #fafafc; 
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #CCC;
  }
  
  .search-input {
    background: none;
    border: none;
    outline: none;
    color: #000000;
    padding: 5px;
    font-size: 14px;
  }
  
  .search-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-button i {
    font-size: 16px;
  }
  .search-container {
  position: relative;
}

.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: #000000;
}

.suggestion-item:hover {
  background-color: #fafafc;
}
/* break */

.search-container {
  position: relative;
}

/* .suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgb(135, 135, 135);
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #bdbdbd;
} */
