.weather-forecast-card__wrapper {
 
}
.weather-forecast-card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  gap: 20px;
}

/* testing */
.weather-forecast-card {
  width: 200px;
  padding: 10px 5px;
  background: #fafafc;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-forecast-card .weather-forecast-card--date {
  font-size: 14px;
  color: #555;
}
.weather-forecast-card .weather-forecast-card--divider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.weather-forecast-card .weather-forecast-card--temp {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.weather-forecast-card .weather-forecast-card--temp span {
  font-size: 14px;
  color: #777;
  display: block;
}

.weather-forecast-card .weather-forecast-card--icon {
  filter: brightness(0.8);
}

.weather-forecast-card .weather-forecast-card--description {
  font-size: 16px;
  color: #555;
}

/* select option */
select[name="data-selector"] {
  /* appearance: none;  */
  background-color: #fafafc;
  color: #000000;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #fafafc;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
   margin: 20px 0px 0px;
}

select[name="data-selector"]:hover {
  background-color: #ffffff;
}

select[name="data-selector"]:focus {
  border-color: #eeeeee;
  box-shadow: 0 0 5px #eeeeee80;
}

select[name="data-selector"] option {
  background-color: #fafafc;
  color: #000000;
  width: 500px;
}
