#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
  
}
.app {
  height: 750px;
  /* height: calc(100dvh - 2rem - 2rem); */
  height: calc(100dvh - 2rem - 2rem );
  background-color: #fafafc;
 
}
/* General Header Styling */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFE08A;
  padding: 10px 20px;
  color: #000000;
  font-family: Arial, sans-serif;
}
.card__details {
  height: calc(100% - 61px);
  background-color: #FAF3E0;
  display: flex;
  gap: 20px;
  overflow: scroll;
}
/* Weather Cards */
.weather-cards {
  display: flex;
  gap: 10px;
}
.app-theme {
  background-color: #fafafc;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;

  color: #000000;
  font-size: 14px;
  cursor: pointer;
}


